* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 376px) {
  .container {
    width: 100%;
    max-width: 376px;
  }
}
.header-box {
  display: flex;
  justify-content: space-between;
}
.header-box__logo {
  padding-top: 23px;
}
.header-box__item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-box__item--list {
  padding-top: 26px;
}
.header-box__item--link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #59676E;
}
.header-box__item--link:hover {
  color: #22343D;
}
.header-box__link1 {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 10px 22px 9px 25px;
  margin-top: 19px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
}
.header-box__link1:hover {
  color: white;
  background-color: #02897A;
}
.header-box__link {
  padding-top: 19px;
}
.header-box__burger {
  display: none;
}

@media (max-width: 376px) {
  .header-box {
    display: flex;
    justify-content: space-between;
  }
  .header-box__logo {
    padding-top: 21px;
  }
  .header-box__item {
    display: none;
  }
  .header-box__link1 {
    display: none;
  }
  .header-box__link {
    display: none;
  }
  .header-box__burger {
    display: block;
    padding-top: 26.75px;
  }
}
.hero-box {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}
.hero-box__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
  padding-top: 149px;
}
.hero-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  margin: 18px 0 45px 0;
}
.hero-box__btn {
  background: #02897A;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 15px 41px 14px 41px;
  border: none;
  cursor: pointer;
}
.hero-box__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897A;
  margin-left: 30px;
}
.hero-box__img {
  padding-top: 25px;
}

@media (max-width: 376px) {
  .hero-box {
    display: block;
  }
  .hero-box__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: #22343D;
    margin-bottom: 16px;
    margin-top: 10.7px;
    padding-top: 0;
  }
  .hero-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #22343D;
    margin: 0 0 32px 0;
  }
  .hero-box__btn {
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 15px 41px 14px 41px;
    border: none;
    cursor: pointer;
  }
  .hero-box__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
    margin-left: 30px;
  }
  .hero-box__img {
    max-width: 338px;
    padding-top: 29.32px;
  }
  .card {
    display: flex;
    flex-direction: column-reverse;
  }
}
#section2 {
  background-image: url("../../img/section2-bg1.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.product-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
  text-align: center;
  padding-top: 114px;
  margin-bottom: 57.91px;
}

.product-box {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
.product-box__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
  margin: 30px 0 13px 0;
}
.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.product-btn {
  background: #02897A;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 15px 41px 14px 41px;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 90px;
  margin-left: 420px;
}

@media (max-width: 376px) {
  #section2 {
    background-image: url("../../img/section2-img-res.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .product-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
    text-align: center;
    padding-top: 115px;
  }
  .product-box {
    display: block;
  }
  .product-box__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343D;
    margin: 30px 0 13px 0;
    padding-left: 100px;
  }
  .product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    text-align: center;
    padding: 0 60px 0 70px;
  }
  .product-box__img {
    margin-top: 37px;
    padding-left: 130px;
  }
  .product-btn {
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 15px 41px 14px 41px;
    border: none;
    cursor: pointer;
    margin-top: 37px;
    margin-left: 80px;
  }
}
.service-box {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.service-box__heading4-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  padding-top: 172px;
  margin-bottom: 8px;
}
.service-box__heading2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
}
.service-box__heading4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin-top: 131px;
}
.service-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin: 12px 0 25px 0;
}
.service-box__heading4-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}
.service-box__img {
  padding-top: 153px;
}
.service-box__text1 {
  margin: 30px 0 30px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-left: 60px;
  margin-right: 30px;
}
.service-box__text1::before {
  content: url(../../img/section3-icon1.png);
  position: relative;
  top: 5px;
  right: 30px;
}
.service-box__text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-left: 60px;
}
.service-box__text2::before {
  content: url(../../img/section3-icon2.png);
  position: relative;
  top: 0;
  right: 30px;
}
.service-box .service-box__matn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.service-box__text3 {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-left: 60px;
  margin-right: 30px;
}
.service-box__text3::before {
  content: url(../../img/section3-icon3.png);
  position: relative;
  top: 0;
  right: 30px;
}
.service-box__text-bir {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
.service-box__heading4-bir {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin: 30px 0 12px 0;
}

.wrap {
  flex-direction: row-reverse;
}

@media (max-width: 376px) {
  .service-box {
    display: block;
    flex-direction: column-reverse;
  }
  .service-box__heading4-1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
    margin-bottom: 8px;
    padding-top: 50px;
  }
  .service-box__heading2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
  }
  .service-box__heading4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
    margin-top: 16px;
  }
  .service-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin: 12px 0 5px 0;
  }
  .service-box__heading4-2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
  }
  .service-box__img {
    padding-top: 0;
    width: 349px;
    padding-top: 95px;
  }
  .service-box__text1 {
    margin: 30px 0 30px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-left: 60px;
    margin-right: 30px;
  }
  .service-box__text1::before {
    content: url(../../img/section3-icon1.png);
    position: relative;
    top: 5px;
    right: 30px;
  }
  .service-box__text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-left: 60px;
  }
  .service-box__text2::before {
    content: url(../../img/section3-icon2.png);
    position: relative;
    top: 0;
    right: 30px;
  }
  .service-box .service-box__matn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .service-box__text3 {
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-left: 60px;
    margin-right: 30px;
  }
  .service-box__text3::before {
    content: url(../../img/section3-icon3.png);
    position: relative;
    top: 0;
    right: 30px;
  }
  .service-box__text-bir {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
  }
  .service-box__heading4-bir {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
    margin: 30px 0 12px 0;
  }
  .wrap1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .wrap2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
#section4 {
  background-image: url("../../img/section4-bg.png");
  background-repeat: no-repeat;
  background-position: top;
}

.section4-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
  text-align: center;
  padding-top: 53px;
}

.section4-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #22343D;
  margin-top: 16px;
}

.section4-box {
  display: flex;
  justify-content: space-between;
}
.section4-box__card {
  display: flex;
}
.section4-box__card--text {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
  padding: 15px 24px 14px 25px;
  margin-top: 10px;
  height: 60px;
  margin-left: 16px;
}
.section4-box__card--img {
  margin-top: 32px;
}
.section4-box__card--text1 {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
  padding: 15px 18px 14px 22px;
  margin-top: 46px;
  height: 60px;
  margin-right: 16px;
}
.section4-box__card--img1 {
  margin-top: 32px;
}
.section4-box__card--text2 {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
  padding: 15px 30.5px 14px 33.5px;
  margin-top: 53px;
  margin-right: 16px;
  height: 53px;
}
.section4-box__card--img2 {
  margin-top: 24px;
}
.section4-box__card--text3 {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
  padding: 14px 19px 15px 23px;
  margin-top: 38px;
  margin-left: 39px;
  height: 53px;
}
.section4-box__card--img3 {
  margin-top: 24px;
}

.section4--btn {
  background: #02897A;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 15px 41px 14px 41px;
  border: none;
  cursor: pointer;
  margin: 48px 0 0 420px;
}

@media (max-width: 376px) {
  #section4 {
    background-image: url("../../img/section4-bg-res.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 80px;
  }
  .section4-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
    text-align: center;
    padding-top: 73px;
  }
  .section4-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    margin-top: 8px;
  }
  .section4-box {
    display: block;
  }
  .section4-box__card {
    display: flex;
  }
  .section4-box__card--text {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    padding: 15px 24px 14px 25px;
    margin-top: 52px;
    height: 65px;
    margin-left: 16px;
  }
  .section4-box__card--img {
    margin-top: 39px;
  }
  .section4-box__card--text1 {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    padding: 15px 18px 14px 22px;
    margin-top: 46px;
    height: 60px;
    margin-right: 16px;
  }
  .section4-box__card--img1 {
    margin-top: 32px;
  }
  .section4-box__card--text2 {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    padding: 15px 30.5px 14px 33.5px;
    margin-top: 45px;
    margin-right: 16px;
    height: 53px;
  }
  .section4-box__card--img2 {
    margin-top: 32px;
  }
  .section4-box__card--text3 {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    padding: 14px 19px 15px 23px;
    margin-top: 45.5px;
    margin-left: 39px;
    height: 60px;
  }
  .section4-box__card--img3 {
    margin-top: 24px;
  }
  .section4--wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .section4--btn {
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 15px 41px 14px 41px;
    border: none;
    cursor: pointer;
    margin: 32px 0 0 15px;
  }
}
.section5-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  padding-top: 150px;
  margin-bottom: 8px;
}

.section5-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.section5-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 32px;
  margin-top: 32px;
}
.section5-box-card {
  background: #FFFFFF;
  border-radius: 8px;
}
.section5-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  padding-left: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.section5-box__text span {
  color: #218dc3;
}
.section5-box__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  padding: 0 30px 40px 24px;
}

.active {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #02897A;
}

.section5-icon {
  margin-top: 64px;
  margin-left: 480px;
  margin-bottom: 20px;
}

@media (max-width: 376px) {
  .section5-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    padding-top: 150px;
    margin-bottom: 8px;
  }
  .section5-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    text-align: center;
  }
  .section5-box {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 15px;
    margin-top: 40px;
  }
  .section5-box-card {
    background: #FFFFFF;
    border-radius: 8px;
  }
  .section5-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    padding-left: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .section5-box__text span {
    color: #218dc3;
  }
  .section5-box__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    padding: 0 30px 40px 24px;
  }
  .active {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #02897A;
  }
  .section5-icon {
    display: none;
  }
}
.section6-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 8px;
}

.section6-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  text-align: center;
  margin-bottom: 50px;
}

.section6-box {
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
}
.section6-box--card {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.section6-box--card__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 8px;
}
.section6-box--card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #22343D;
  padding-left: 73px;
  padding-right: 75.65px;
  margin-bottom: 16px;
}
.section6-box--card-wrapper {
  display: flex;
  gap: 8px;
}
.section6-box--card-wrapper--span {
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;
  padding-left: 83px;
}
.section6-box--card-wrapper--span1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897A;
  padding-top: 40px;
  margin-bottom: 4px;
}
.section6-box--card-wrapper--text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}
.section6-box--card__text1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343D;
  text-align: center;
  margin-bottom: 16px;
}
.section6-box--card__btn {
  background: #02897A;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 11px 19px 11px 18px;
  border: none;
  margin: 22px 0 32px 87px;
  cursor: pointer;
}
.section6-box--card:hover {
  background-color: #02897A;
}
.section6-box--card:hover .section6-box--card__heading {
  color: #FFFFFF;
}
.section6-box--card:hover .section6-box--card__text {
  color: #FFFFFF;
}
.section6-box--card:hover .section6-box--card-wrapper--span {
  color: #FFFFFF;
}
.section6-box--card:hover .section6-box--card-wrapper--span1 {
  color: #FFFFFF;
}
.section6-box--card:hover .section6-box--card-wrapper--text {
  color: #E0E0E0;
}
.section6-box--card:hover .section6-box--card__text1 {
  color: #FFFFFF;
}
.section6-box--card:hover .section6-box--card__btn {
  color: #02897A;
  background-color: #FFFFFF;
}

@media (max-width: 376px) {
  .section6-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    padding-top: 61px;
    margin-bottom: 8px;
  }
  .section6-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
    text-align: center;
    margin-bottom: 74.2px;
  }
  .section6-box {
    display: block;
  }
  .section6-box--card {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 32px;
  }
  .section6-box--card__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 8px;
  }
  .section6-box--card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
    padding-left: 73px;
    padding-right: 75.65px;
    margin-bottom: 16px;
  }
  .section6-box--card-wrapper {
    display: flex;
    gap: 8px;
  }
  .section6-box--card-wrapper--span {
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
    padding-left: 83px;
  }
  .section6-box--card-wrapper--span1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
    padding-top: 40px;
    margin-bottom: 4px;
  }
  .section6-box--card-wrapper--text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
  }
  .section6-box--card__text1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
    text-align: center;
    margin-bottom: 16px;
  }
  .section6-box--card__btn {
    background: #02897A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 11px 19px 11px 18px;
    border: none;
    margin: 22px 0 32px 87px;
    cursor: pointer;
  }
  .section6-box--card:hover {
    background-color: #02897A;
  }
  .section6-box--card:hover .section6-box--card__heading {
    color: #FFFFFF;
  }
  .section6-box--card:hover .section6-box--card__text {
    color: #FFFFFF;
  }
  .section6-box--card:hover .section6-box--card-wrapper--span {
    color: #FFFFFF;
  }
  .section6-box--card:hover .section6-box--card-wrapper--span1 {
    color: #FFFFFF;
  }
  .section6-box--card:hover .section6-box--card-wrapper--text {
    color: #E0E0E0;
  }
  .section6-box--card:hover .section6-box--card__text1 {
    color: #FFFFFF;
  }
  .section6-box--card:hover .section6-box--card__btn {
    color: #02897A;
    background-color: #FFFFFF;
  }
}
.section7-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #22343D;
  text-align: center;
  margin-bottom: 8px;
}

.section7-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343D;
  margin-bottom: 50px;
}

.section7-box {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding-bottom: 157px;
}
.section7-box--card {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}
.section7-box--card__img {
  margin: 28px 0 16px 28px;
}
.section7-box--card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0 26px;
  margin-bottom: 16.5px;
}
.section7-box--card-box {
  display: flex;
  gap: 14px;
}
.section7-box--card-box__img {
  padding-left: 26px;
  padding-bottom: 23.65px;
}
.section7-box--card-box__span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897A;
}
.section7-box--card-box__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}

@media (max-width: 376px) {
  .section7-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #22343D;
    text-align: center;
    margin-bottom: 8px;
  }
  .section7-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343D;
    margin-bottom: 50px;
  }
  .section7-box {
    display: block;
    padding-bottom: 157px;
  }
  .section7-box--card {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin-bottom: 32px;
  }
  .section7-box--card__img {
    margin: 28px 0 16px 28px;
  }
  .section7-box--card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0 26px;
    margin-bottom: 16.5px;
  }
  .section7-box--card-box {
    display: flex;
    gap: 14px;
  }
  .section7-box--card-box__img {
    padding-left: 26px;
    padding-bottom: 23.65px;
  }
  .section7-box--card-box__span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
  }
  .section7-box--card-box__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
  }
}
.section8-box {
  display: flex;
  justify-content: space-between;
  background: #02897A;
  border-radius: 32px;
  margin-left: 78px;
  margin-right: 64px;
}
.section8-box__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
  padding: 51px 0 0 41px;
}
.section8-box__heading1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
  padding: 0 0 0 41px;
}
.section8-box__btn {
  background: #FFFFFF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  border: none;
  color: #02897A;
  padding: 13px 35px 7px 33px;
  margin: 80px 0 56px 51px;
  cursor: pointer;
}

@media (max-width: 376px) {
  .section8-box {
    display: block;
    background: #02897A;
    border-radius: 32px;
    margin: 0;
  }
  .section8-box__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    text-align: center;
    padding: 17px 21px 0 22px;
    margin: 0;
  }
  .section8-box__heading1 {
    display: none;
  }
  .section8-box__btn {
    background: #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: #02897A;
    padding: 10px 34px;
    margin: 104px 0 42px 80px;
    cursor: pointer;
  }
  .section8-box__img {
    width: 351px;
  }
}
.footer-box {
  display: flex;
  justify-content: space-between;
  padding-top: 153px;
}
.footer-box__icon {
  margin-top: 28px;
  margin-right: 16px;
}
.footer-box__item--list {
  margin-bottom: 8px;
}
.footer-box__item--link1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}
.footer-box__item--link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
}
.footer-box__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
  margin-bottom: 34px;
}
.footer-box__input {
  margin-bottom: 21px;
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 10px 0 10px 15px;
}
.footer-box__btn {
  background: #02897A;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 8px 15px 7px 15px;
  cursor: pointer;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #22343D;
  text-align: center;
  margin-top: 16px;
  padding-bottom: 46px;
}

@media (max-width: 376px) {
  .footer-box {
    display: block;
    padding-top: 153px;
  }
  .footer-box__img {
    margin-left: 100px;
  }
  .footer-box--icon {
    margin-left: 100px;
    margin-bottom: 32px;
  }
  .footer-box__icon {
    margin-top: 28px;
    margin-right: 16px;
  }
  .footer-box__item--list {
    margin-bottom: 8px;
    text-align: center;
  }
  .footer-box__item--link1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
  }
  .footer-box__item--link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
  }
  .footer-box__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    margin-bottom: 34px;
    text-align: center;
  }
  .footer-box__input {
    margin-bottom: 21px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 10px 0 10px 15px;
    margin-left: 73px;
  }
  .footer-box__btn {
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 8px 15px 7px 15px;
    cursor: pointer;
    margin-left: 97px;
  }
  .footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #22343D;
    text-align: center;
    margin-top: 44px;
    padding-bottom: 45px;
  }
}

/*# sourceMappingURL=main.css.map */
